<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/xterm.css" />
    <link rel="stylesheet" href="../static/style_py.css">

    <title>Blog.py</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.11.2/brython.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.11.2/brython_stdlib.min.js"></script>
    <script src="../static/xterm.js"></script>


</head>

<body>
    <div class="switch-theme">
        <label>
            <input type="checkbox" id="switch-theme" onclick="changeTheme()" style="display: none;">
            <span>
                <i></i>
                <img class="sun" src="../static/img/sun.svg">
                <img class="moon" src="../static/img/moon.svg">
            </span>
        </label>
    </div>
    <main>
        <section id="oque_e_python">

            <div class="title">
                <img src="../static/img/python_image.jpg" class="image_title">
                <span class="opacity-box"></span>
            </div>
            <div class="text_python">
                <h1>O que é python?</h1>
            </div> 

        </section>
    </main>
    <script src="../static/script_blog.js"></script>
</body>

</html>