<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_py.css">
    <title>Blog.py</title>

    <!-- Incluir folha de estilo do xterm.js -->
    <link rel="stylesheet" href="https://unpkg.com/xterm@4.15.0/dist/xterm.css" />
    <!-- Incluir scripts do xterm.js e Brython -->
    <script src="https://unpkg.com/xterm@4.15.0/dist/xterm.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.10.1/brython.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.10.1/brython_stdlib.js"></script>

</head>

<body>
    <div class="switch-theme">
        <label>
            <input type="checkbox" id="switch-theme" onclick="changeTheme()" style="display: none;">
            <span>
                <i></i>
                <img class="sun" src="../static/img/sun.svg">
                <img class="moon" src="../static/img/moon.svg">
            </span>
        </label>
    </div>
    <main>
        <div id="terminal"></div>

        <script>
            // Configurar o terminal
            const term = new Terminal();
            term.open(document.getElementById('terminal'));

            // Configurar o Brython
            function runPythonCode(code) {
                Brython.run_script(code);
            }

            // Adicionar um evento ao pressionar Enter no terminal
            term.onData(e => {
                if (e === '\r') {  // Enter key
                    const code = term.buffer.getLine(term.buffer.cursorY).translateToString();
                    runPythonCode(code);
                    term.write('\r\n');
                }
            });
        </script>

    </main>
</body>

<script src="../static/script_blog.js"></script>

</html>