<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/xterm.css" />
    <link rel="stylesheet" href="../static/style_py.css">

    <title>Blog.py</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.11.2/brython.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.11.2/brython_stdlib.min.js"></script>
    <script src="../static/xterm.js"></script>


</head>

<body>
    <div id="terminal"></div>



    <div class="switch-theme">
        <label>
            <input type="checkbox" id="switch-theme" onclick="changeTheme()" style="display: none;">
            <span>
                <i></i>
                <img class="sun" src="../static/img/sun.svg">
                <img class="moon" src="../static/img/moon.svg">
            </span>
        </label>
    </div>
    <main>

    </main>
    <script>
        var term = new Terminal();
        term.open(document.getElementById('terminal'));

        Brython({
            debug: true,
            sys_argv: ['']
        });

        term.onKey((e) => {
            const printable = !e.domEvent.altKey && !e.domEvent.ctrlKey && !e.domEvent.metaKey;

            if (e.domEvent.keyCode === 13) {  // Tecla Enter
                const code = term.buffer.getLine(term.buffer.cursorY).translateToString();
                runPythonCode(code);
                term.writeln('\r\n');
            } else if (e.domEvent.keyCode === 8) {  // Tecla Backspace
                term.write('\b \b');
            } else if (printable) {
                term.write(e.key);
            }
        });

        function runPythonCode(code) {
            Brython.run_script(code);
        }
    </script>
    <script src="../static/script_blog.js"></script>
</body>

</html>